html{
    height:100%;
}
body{
    padding:0px;
    height:100%;
}

.header{
    margin-bottom: 0px;
}
.container-fluid{
    padding:0px;
}

#angular-content{
    padding:68px 0px 50px 0px;
    height: 100%;
}


.home-tab{
    height:250px;
}
#home-tab-cars{
    
}