html{
    height:100%;
}
body{
    padding:0px;
    height:100%;
    color:#333;
    font-family: 'Ubuntu', sans-serif;
}

.header{
    margin-bottom: 0px;
    font-size:16px;
    font-weight: bold;
    background: #FFF;
}
.header ul{
    margin-top:14px;
}

#header a.activ{
    color:#FFF;
    background: #f9b616;
}
 #header a:hover{
    background: #f9b616;
    color:#FFF;
}
.nav > li > a{
    padding:5px 15px;
}

#banner-home-img{
    
    margin:0px auto;
}

#banner-container{
    height:100%;
    text-align: center;
}

#angular-content{
    padding:68px 0px 50px 0px;
    height: 100%;
}


#homepage img{
    //width:100%;
}

#homepage div{
    overflow: hidden;
}

.home-tab{
    height:250px;
}
#home-tab-cars{

}

.footer{
    background: #FFF;
}

a{
    color:#666;
}
