<div class="header navbar-fixed-top">  
    <div id="" class="pull-left" style="margin-right: 30px;">
        <img src="/images/home-page/smart-logo.jpg" width="200px" class="" alt="Smart logo">
    </div>
	<ul class="nav nav-pills pull-left">
		<li><a ng-href="/">Home</a></li>
		<li><a ng-href="#/cars">Cars</a></li>
		<li><a ng-href="#/designers">Designers</a></li>
		<li><a ng-href="#/contests">Contest</a></li>
		<li><a ng-href="#my-smart">My Smart</a></li>
	</ul>
  	<div class="clearfix"></div>
</div>